<div class="container">


  <!--Header photo du lieu ?-->

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> {{ 'home.menubar.title' | translate }}
      </a>
      <a routerLink="/room" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-bed"></i> {{ 'roomtour.menubar.title' | translate }}
      </a>
      <a routerLink="/restaurant" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-cutlery"></i> {{ 'restaurant.menubar.title' | translate }}
      </a>
      <a routerLink="/opinion" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-comments"></i> {{ 'opinion.menubar.title' | translate }}
      </a>
      <a routerLink="/price" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-credit-card"></i> {{ 'price.menubar.title' | translate }}
      </a>
      <a routerLink="/localisation" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-map-marker"></i> {{ 'localisation.menubar.title' | translate }}
      </a>
      <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-address-card"></i> {{ 'contact.menubar.title' | translate }}
      </a>
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-info-circle"></i> {{ 'about.menubar.title' | translate }}
      </a>
      <!--<a routerLink="/contactform" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-info-circle"></i> {{ 'about.menubar.title' | translate }}
      </a>-->
    </div>
  </nav>

  <router-outlet></router-outlet>

  <div>
    <!--<label>
        {{ 'home.select' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
      </label>-->
  </div>
  <footer style="bottom: 0px; width: 100%; height: 35px;">
    <div style="text-align: right;">
      <img style="cursor: pointer;" [tooltip]="tooltipEnglish" class="flag flag-gb" (click)="translate.use('en')" />
      <img style="cursor: pointer;" [tooltip]="tooltipFrancais" class="flag flag-fr" (click)="translate.use('fr')" />
      <img style="cursor: pointer;" [tooltip]="tooltipEspanol" class="flag flag-es" (click)="translate.use('es')" />
      <img style="cursor: pointer;" [tooltip]="tooltipPortuges" class="flag flag-pt" (click)="translate.use('pt')" />
      <img style="cursor: pointer;" [tooltip]="tooltipItaliano" class="flag flag-it" (click)="translate.use('it')" />

      <!--les tooltips des éléments ci dessus-->
      <tooltip-content #tooltipEnglish>English</tooltip-content>
      <tooltip-content #tooltipFrancais>Français</tooltip-content>
      <tooltip-content #tooltipEspanol>Español</tooltip-content>
      <tooltip-content #tooltipPortuges>Português</tooltip-content>
      <tooltip-content #tooltipItaliano>Italiano</tooltip-content>
    </div>
  </footer>

</div>