<div class="container">

  <nav class="navbar navbar-dark bg-primary">
    <div class="nav navbar-nav">
      <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Home
      </a>
      <a routerLink="/opinion" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa"></i> Opinion
      </a>
      <a routerLink="/room" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa"></i> Room Tour
      </a>
      <a routerLink="/price" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa"></i> Price
      </a>
      <a routerLink="/contact" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa"></i> Contact
      </a>
      <a routerLink="/about" class="nav-item nav-link" routerLinkActive="active">
        <i class="fa fa-info-circle"></i> About
      </a>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>