<div class="form-group"></div>

<div class="card">
  <h4 class="card-header">Contact</h4>
  <div class="card-block">
    <h5>Our Guest Home</h5>
    <div>
      <a class="fa fa-twitter-square fa-4x" aria-hidden="true" href="https://fr.linkedin.com/in/alderichoarau" target="_blank"></a>
      &nbsp;
      <a class="fa fa-facebook-official fa-4x" aria-hidden="true" href="https://fr.linkedin.com/in/alderichoarau" target="_blank"></a>
      &nbsp;
      <a class="fa fa-instagram fa-4x" aria-hidden="true" href="https://fr.linkedin.com/in/alderichoarau" target="_blank"></a>
    </div>
    <div>
      &nbsp;&nbsp;
      <h6>Rue des Casernes,</h6>
      <h6>Toulouse, 31400 FR.</h6>
      &nbsp;&nbsp;
      <h6>alderic.hoarau@gmail.com</h6>
      <h6>tel: (+33)6.48.32.76.76</h6>
    </div>
  </div>
</div>

<div class="card">
  <h4 class="card-header"><label class="fa fa-map-marker"></label> Where find us ?</h4>
  <div class="card-block">

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->

    <sebm-google-map [latitude]="lat" [longitude]="lng">
      <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
    </sebm-google-map>

  </div>

</div>

<div class="card">
  <h4 class="card-header"><label class="fa fa-map-marker"></label> test calendar</h4>
  <div class="card-block">
    Calendar to add
  </div>
</div>