.table td, .table th {
   text-align: center;
   width: 25%;  
}

.retourClient{
    height: 200px;
}

.buttonAlign{
    text-align: right;
}

.lien {
     text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */
}