<div class="form-group"></div>

<div class="card">
  <h4 class="card-header">{{ 'about.firstbox.title' | translate }}</h4>
  <div class="card-block">
    <ul>
      <li><b>{{ 'about.firstbox.author.label' | translate }}</b> <a href="https://fr.linkedin.com/in/alderichoarau" target="_blank">Hoarau Aldéric</a></li>
      <li><b>{{ 'about.firstbox.github.label' | translate }}</b> <a href="https://github.com/alderic-974/myappforhome" target="_blank">{{ 'about.firstbox.github.repo.label' | translate }}</a></li>
      <li><b>{{ 'about.firstbox.toolused.label' | translate }}</b></li>
      <ul>
        <li><a href="http://www.mongoosejs.com" target="_blank"><b>M</b>ongoose.js</a> (<a href="https://www.mongodb.com" target="_blank">MongoDB</a>)</li>
        <li><a href="http://www.expressjs.com" target="_blank"><b>E</b>xpress.js</a></li>
        <li><a href="https://www.angular.io" target="_blank"><b>A</b>ngular 4</a></li>
        <li><a href="https://www.nodejs.org" target="_blank"><b>N</b>ode.js</a></li>
        <li><a href="https://cli.angular.io" target="_blank">Angular CLI</a></li>
        <li><a href="http://www.getbootstrap.com" target="_blank">Bootstrap</a></li>
        <li><a href="http://www.fontawesome.io" target="_blank">Font Awesome</a></li>
      </ul>
    </ul>
  </div>
</div>